body{
    margin: 0px;
}
#navBar img{
float: left;
margin-left: 13%;
width: 80px;
height: 70px;
margin-top: 18px;
}
#navBarbutt{
float: left;
margin-left: 20%;
}
#navBar button{
margin-left: 40px;
margin-top: 30px;
font-size: 18px;
border: none;
background-color: white;
font-family: 'Source Sans Pro';

    
 }
#booking button{
margin-left: 55px;
margin-top: 20px;
height: 50px;
font-size: 18px;
width: 150px;
padding: 12px 22px;
border-radius: 4px;
background-color: #c9a633;
color: white;
border: 1px solid #c9a633;
font-family: 'Source Sans Pro';
}
    
    
 #booking:hover{
 transform: translatey(-2px);

}
main {
margin-bottom: 6rem;
}
.header{
margin-top: 5%;
text-align: center;
}

 hr {
border-top: 1.5px solid #d4af37;
width: 104px;
 margin: 0.5ch auto 1rem;
 margin-top: -10px;
}
.header p{
text-align: center;
margin-left: -1%;
font-size: 20px;
}
h2{
font-family: 'Source Sans Pro', sans-serif;
font-size: 30px;
}
.main {
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url("https://themewagon.github.io/star-hotels/assets/img/Rectangle%2075.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height: 959px;
    display: flex;
    align-items: center;
    width: 100%;
}
.contact {
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 931px;
    height: 719px;
    margin: auto;
    padding: 0 1.5rem;
}
.contact-form {
    width: 53%;
}
form {
    max-width: 100%;
}
.contact-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hide {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}
#email, #name {
    width: 45%;
    height: 58px;
}
.form-control {
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 1rem 0;
    padding: 16px 20px;
}
#comment {
    height: 363px;
}
.contact-us {
    width: 37%;
    height: 320px;
    background: linear-gradient(rgba(0, 0, 0, 0.68), rgba(0, 0, 0, 0.68)), url("https://themewagon.github.io/star-hotels/assets/img/Rectangle%2057.webp");
    background-position: center top;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem 0;
}
.contact-us > span, .contact-us h3 {
    margin-left: 1.7rem;
}
.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.btn {
    font-size: 16px;
    padding: 0.8rem 1.8rem;
    background-color: #d4af37;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer {
    background-color: #241e09;
    color: #fff;
    min-height: 240px;
}
.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    min-height: 240px;
    font-size: 18px;
}
.footer-nav {
    display: grid;
    grid-gap: 70px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.footer-description {
    max-width: 210px;
    justify-self: start;
}
.footer-description-title {
    margin-bottom: 24px;
    font-size: 24px;
}

 
